@model EditFormFieldViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Form Field Güncelleme Sayfası - @Model.ColumnName</h1>
<br />

@using (Html.BeginForm("Edit", "FormField", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x=>x.Id)
        @Html.Label("Kolon Adı")
        @Html.TextBoxFor(x=>x.ColumnName)
        @Html.ValidationMessageFor(x=>x.ColumnName)
        <br /> <br />
        @Html.Label("Veri Tipi")
        @Html.DropDownListFor(x=>x.DataType, (List<SelectListItem>)ViewBag.DataTypeSelectListItem,new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.DataType)
        <br /><br />
        @Html.Label("Zorunlu mu?")
        @Html.CheckBoxFor(x=>x.Required)
        @Html.ValidationMessageFor(x=>x.Required)
        <br />
        <button class="btn btn-success">Güncelle</button>
    </div>
}