@model EditFormViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Form Güncelleme Sayfası - @Model.Name</h1>
<br />

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card card-primary card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">

                    @* @{
                    var isActiveFieldTab = Context.Request.Query["isActiveFieldTab"];
                    if (isActiveFieldTab.Count > 0)
                    {
                    <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Detay</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Form Alanları</a>
                    </li>
                    }
                    else
                    {
                    <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Detay</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Form Alanları</a>
                    </li>
                    }
                    }*@

                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Detay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Form Alanları</a>
                    </li>

                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-three-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">

                        @using (Html.BeginForm("Edit", "Form", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.HiddenFor(x=>x.Id)
                                @Html.Label("Form Adı")
                                @Html.TextBoxFor(x=>x.Name,new { @class = "form-control"})
                                <br>
                                @Html.Label("Form Açıklaması")
                                @Html.TextAreaFor(x=>x.Description,new { @class = "form-control"})
                                <br />
                                <button class="btn btn-success">Güncelle</button>
                            </div>
                        }

                    </div>
                    <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                        <table class="table table-bordered">
                            <tr>
                                <th>Field Id</th>
                                <th>Column Name</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>

                            @foreach (var item in Model.FormFields)
                            {

                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.ColumnName</td>
                                    <td><a href="/FormField/Delete?id=@item.Id&formId=@item.FormId" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/FormField/Edit/@item.Id" class="btn btn-warning">Güncelle</a></td>
                                </tr>
                            }
                        </table>
                        <a href="/FormField/Add?formId=@Model.Id" class="btn btn-info">Yeni Field</a>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
